<div class="header_hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10 mx-auto">
                <div class="header_hero_text">
                   <h2><span>music</span> for everyone.</h2>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Vel quisquam odit et minima quidem, quaerat est nobis optio hic dignissimos possimus amet. 
                        Ut necessitatibus nostrum, eos voluptatibus porro quidem laboriosam!
                       </p>
                       <div class="header_text_btn">
                           <a href="#" alt="">download app now</a>
                           <a href="#" alt="" id="btn__2">start 30 day free trial</a>
                       </div>
                </div>
            </div>
            <!-- right side images -->
            <div class="col-lg-6 col-10 mx-auto">
                <figure class="header_hero_img">
                    <img src="images/hero-bg.png" alt="" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
</div>